<div class="question">
	<div>
		<%= content_tag :span, "Question:", class: "question-title" %>
	</div>
	<div><%= simple_format question.content %></div>
</div>

<div class="answer">
	<div>
		<%= content_tag :span, "Answer:", class: "answer-title" %>
	</div>
	<%= if question.answer.present?
			simple_format question.answer.content+"\n\nCategory: " +question.answer.category+"\nConfidence:" +question.answer.confidence.to_s
		else
		 	simple_format "No answer given." 
		end %>	 
</div>

<div class="answer-form">
	<% 	answer = question.answer
		
		if answer.nil?
			answer = question.build_answer 
		end %>

	<%= form_for(answer) do |f| %>
	  <% if answer.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

	      <ul>
	      <% answer.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.hidden_field :title %>
	  </div>

	  <div class="field">
	    <%= f.label :content %>
	    <%= f.text_area :content %>
	  </div>

	  <div class="field">
	    <%= f.label :category %>
	    <%= f.select(:category, options_for_select([['Fair', 'fair'], ['Unfair', 'unfair']], answer.category))%>
	  </div>

	  <div class="field">
	    <%= f.hidden_field :question_id %>
	  </div>

	  <div class="field">
	    <%= f.hidden_field :dealing_id, value: @dealing.id %>
	  </div>

	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
</div>
