<%= form_for(work) do |f| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isbn %>
    <%= f.text_field :isbn %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :format %>
    <%= f.text_field :format %>
  </div>

  <div class="field">
    <%= f.label :pub_date %>
    <%= f.date_select :pub_date %>
  </div>

  <div class="field">
    <%= f.label :pages %>
    <%= f.text_field :pages %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
