<p id="notice"><%= notice %></p>

<h1>Dealings</h1>

<table>
  <thead>
    <tr>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dealings.each do |dealing| %>
      <tr>
        <td><%= dealing.due_date %></td>
        <td><%= link_to 'Show', dealing %></td>
        <td><%= link_to 'Edit', edit_dealing_path(dealing) %></td>
        <td><%= link_to 'Destroy', dealing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dealing', new_dealing_path %>
